# requirements-streamlit-cloud.txt
streamlit==1.39.0
pandas==2.2.2
numpy==1.26.4
rapidfuzz==3.9.5
scikit-learn==1.5.2
scipy==1.11.4
joblib==1.5.3
openpyxl==3.1.5  # Pour export Excel
python-dateutil==2.9.0